* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5dc;
}


.aside {
    width: 30%;
    padding: 15px;
    margin-left: 15px;
    float: right;
    border: 2px solid black;
    background-color: #058ed9;
    word-wrap: break-word;
}

aside h1 {
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div h2 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}