*{box-sizing: border-box;
}

.collapsible {
  background-color: #058ED9;
  color: whitesmoke;
  font-size: 25px;
  display: flexbox;
  justify-content: space-evenly;
  border-color: #058ED9;
  border-radius: 0%;
  border: 2px;
  cursor: pointer;
  padding: 18px;
  width: 25%;
  text-align: center;
  outline: none;
  
}
.active, .collapsible:hover {
  background-color: #555;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

body {
  background-color: #f5f5dc;
}


div h2 {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div p {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #058ED9;
  padding: 20px;
}

/* Styling the logo */
.logo a.logo-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  /* Applying imported font to text */
  font-family: 'Montserrat', sans-serif;
}

/* Styling links inside nav bar */
nav .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .nav-links a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* COn hover color changes like this */
nav .nav-links a:hover {
  background-color: #ddd;
  color: black;
}

/* Adding a color to an active link */
nav .nav-links .active {
  background-color: #4CAF50;
}